{% extends 'base.html' %}


{% block content %}

<div class="container">
  <div class="text-center">
    <hr><h1 class="anos">Alunos por cidade</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-12">
      <canvas id="cidadesChart" max-width="150" max-height="150"></canvas>
    </div>
  </div>
  <div class="text-center">
    <hr><h1 class="anos">Rendimento escolar {{ano_corrente}} e Dificuldades</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-4">
      <canvas id="situacaoAnual" max-width="50" max-height="50"></canvas>
    </div>
    <div class="col-md-8">
      <canvas id="dificuldade" max-width="150" max-height="150"></canvas>
    </div>
  </div>
  <div class="text-center">
    <hr><h1 class="anos">Tipos de aluno e Movimentação</h1>
    <hr>
  </div>
  <div class="row">
    <div class="col-md-4">
      <canvas id="tipoAluno" max-width="150" max-height="150"></canvas>
    </div>
    <div class="col-md-4">
      <canvas id="movimento" max-width="150" max-height="150"></canvas>
    </div>
    <div class="col-md-4">
      <canvas id="movimento" max-width="150" max-height="150"></canvas>
    </div>
  </div>
  <br>
  <br>
</div>

{% endblock content %}

{% block scripts %}

<script>
var ctx = document.getElementById("cidadesChart");
var cit = JSON.parse('{{ cidades|safe }}');
var num = JSON.parse('{{ qtd_alunos|safe }}');
var cidadesChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: cit,
        datasets: [{
            label: "Alunos",
            data: num,
            backgroundColor: [
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 235, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 192, 192, 0.8)',
                'rgba(153, 102, 255, 0.8)',
                'rgba(255, 159, 64, 0.8)',
                'rgba(255, 99, 132, 0.8)',
                'rgba(54, 162, 23, 0.8)',
                'rgba(255, 206, 86, 0.8)',
                'rgba(75, 19, 192, 0.8)',
                'rgba(153, 10, 255, 0.8)',
                'rgba(255, 159, 89, 0.8)',
                'rgba(255, 9, 132, 0.8)',
                'rgba(54, 16, 235, 0.8)',
                'rgba(255, 20, 86, 0.8)',
                'rgba(75, 188, 192, 0.8)',
                'rgba(153, 102, 200, 0.8)',
                'rgba(255, 159, 21, 0.8)',
                'rgba(75, 192, 177, 0.8)',
                'rgba(153, 102, 251, 0.8)',
                'rgba(255, 159, 62, 0.8)',

            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
</script>

<script>
var ctx = document.getElementById("situacaoAnual");
//var names = JSON.parse('{{ names|safe }}');
var ap1 = JSON.parse('{{ aprovados_s|safe }}');
var ap2 = JSON.parse('{{ aprovados_c|safe }}');
var cd = JSON.parse('{{ com_dependencia|safe }}');
var rep = JSON.parse('{{ reprovados|safe }}');
var situacaoAnual = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Aprovados sem exame', 'Aprovados com exame', 'Com dependência','Reprovados'],
        datasets: [{
            label: "Alunos",
            data: [ap1, ap2, cd, rep],
            backgroundColor: [
                'rgba(50, 205, 50, 0.8)',
                'rgba(255, 215, 0, 0.8)',
                'rgba(255, 0, 0, 0.8)',
                'rgba(128, 128, 128, 0.8)',

            ],
            borderColor: [
                'rgba(0,0,0,1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
            ],
            borderWidth: 1
        }]
    },

});
</script>

<script>
var ctx = document.getElementById("dificuldade");
//var names = JSON.parse('{{ names|safe }}');
var disciplina = JSON.parse('{{ disciplina|safe }}');
var qtd_alunos = JSON.parse('{{ qtd_al|safe }}');

var situacaoAnual = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: disciplina,
        datasets: [{
            label: "Alunos",
            data: qtd_alunos,
            borderWidth: 1
        }]
    },

});
</script>

<script>
var ctx = document.getElementById("tipoAluno");
//var names = JSON.parse('{{ names|safe }}');
var alunos_ABC = JSON.parse('{{ alunos_ABC|safe }}');
//var ap2 = JSON.parse('{{ aprovados_c|safe }}');
//var cd = JSON.parse('{{ com_dependencia|safe }}');
//var rep = JSON.parse('{{ reprovados|safe }}');
var tipoAluno = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['A', 'B', 'C'],
        datasets: [{
            label: "Alunos",
            data: alunos_ABC,
            backgroundColor: [
                'rgba(0, 128, 0, 0.8)',
                'rgba(255,160,122, 0.8)',
                'rgba(255, 0, 0, 0.8)',

            ],
            borderColor: [
                'rgba(0,0,0,1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
            ],
            borderWidth: 1
        }]
    },

});
</script>

<script>
var ctx = document.getElementById("movimento");
//var names = JSON.parse('{{ names|safe }}');
var movimento = JSON.parse('{{ movimento|safe }}');
var mov = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ['Faleceu', 'Transferido', 'Abandonou'],
        datasets: [{
            label: "Alunos",
            data: movimento,
            backgroundColor: [
                'rgba(0, 0, 0, 0.8)',
                'rgba(70,130,180, 0.8)',
                'rgba(169, 169, 169, 0.8)',

            ],
            borderColor: [
                'rgba(0,0,0,1)',
                'rgba(0, 0, 0, 1)',
                'rgba(0, 0, 0, 1)',
            ],
            borderWidth: 1
        }]
    },

});
</script>


{% endblock %}
