{% extends 'base.html' %}

{%  block content  %}

<div class="well text-center">
    <h1 class="anos">Prontuário: {{prontuario.0.aluno}}</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="list-group">
        {% for pd in pd_detalhe %}
          <a class="active list-group-item"><h4><b>Atendimento {{forloop.counter}}</b></h4></a>
          <a class="list-group-item"><h5><b>Servidor</b>: {{pd.servidor.get_full_name}}
            <p style="text-align:right;"><b>Data</b>: {{pd.data}}</p></h5>
          </a>
          <a class="list-group-item"><p style="text-align:justify;">{{pd.evento}}</p></a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
