{% extends 'base.html' %}


{% block content%}

<div class="jumbotron">
    <div class="container">
      <form action="." method="post">
        {% csrf_token %}
        <div class="input-group">
          <input id="search_box" name="search_box" type="text" placeholder="Aluno..." class="form-control">
          <div class="input-group-btn">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      </form>
    </div>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-5"></div>
      <div class="col-md-2">
          <a href="{% url 'prontuario_add' %}"><button  type="button" class="btn btn-default btn-lg">Criar</button></a>
          <br><br>
      </div>
      <div class="col-md-5"></div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Matrícula</th>
          <th>Aluno</th>
          <th>Editar</th>
          <th>Ver</th>
        </tr>
      </thead>
      <tbody>
    {% for prontuario in prontuarios %}
        <tr>
          <td>{{ prontuario.pk }}</td>
          <td><a href="{% url 'aluno_perfil' prontuario.pk %}">{{ prontuario.aluno }}</a></td>
          <td>
            <a href="{% url 'prontuario_update' prontuario.pk %}">
              <span class="glyphicon glyphicon-pencil"></span>
            </a>
          </td>
          <td>
            <a href="{% url 'prontuario_detalhe' prontuario.pk %}">
              <span class="glyphicon glyphicon-eye-open"></span>
            </a>
          </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>
  </div>
  <p>Página {{ prontuarios.number }} de {{ prontuarios.paginator.num_pages }}.</p>
  <ul class="pagination" >

      {% if prontuarios.has_previous %}
          <li><a href="?page={{ prontuarios.previous_page_number }}">anterior</a></li>
      {% endif %}

      {% if prontuarios.has_next %}
          <li><a href="?page={{ prontuarios.next_page_number }}">próxima</a></li>
      {% endif %}

  </ul>

</div>



{% endblock content %}
