{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
          <form action="." method="post">
            {% csrf_token %}
            <div class="input-group">
              <input id="search_box" name="search_box" type="text" placeholder="Data ou quarto..." class="form-control">
              <div class="input-group-btn">
                <button type="submit" class="btn btn-success">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </div>
            </div>
          </form>
        </div>
    </div>

    <div class="container">
      <div class="row">
          <div class="col-md-5"></div>
          <div class="col-md-2">
              <a href="{% url 'vistoria_add' %}"><button  type="button" class="btn btn-default btn-lg">Nova</button></a>
              <br><br>
          </div>
          <div class="col-md-5"></div>
      </div>
      <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Quarto</th>
                    <th>Detalhes</th>
                    <th>Motivo</th>
                    <th>Data</th>
                    <th>Editar</th>
                </tr>
            </thead>
            <tbody>
            {% for vistoria in vistorias %}
                <tr>
                    <td><a href="{% url 'alojamento_quarto' vistoria.quarto %}">{{ vistoria.quarto }}</a></td>
                    <td>{{ vistoria.detalhes }}</td>
                    <td>{{ vistoria.motivo }}</td>
                    <td>{{ vistoria.data }}</td>
                    <td>

                  		<a href="{% url 'vistoria_update' vistoria.pk %}">
                  			<span class="glyphicon glyphicon-pencil"></span>
                  		</a>
                  	</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
      <p>Página {{ vistorias.number }} de {{ vistorias.paginator.num_pages }}.</p>
      <ul class="pagination" >

          {% if vistorias.has_previous %}
              <li><a href="?page={{ vistorias.previous_page_number }}">anterior</a></li>
          {% endif %}


          {% if vistorias.has_next %}
              <li><a href="?page={{ vistorias.next_page_number }}">próxima</a></li>
          {% endif %}

      </ul>
    </div>

{% endblock content %}
