{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="well text-center">
  <h1 class="anos">Turma {{turma}}</h1>
</div>
<div class="container">
  <div class="row">
    {% for aluno in alunos %}
    <div class="col-md-3">
        <a href="{% url 'aluno_perfil' aluno.matricula %}" method="post" name="perfil">
          {% if aluno.perfil_aluno.foto %}
          <img src={{aluno.perfil_aluno.foto.url}} class="img-rounded" width="146" height="146"></a>
          {% else %}
          <img src="{% static 'Pessoas/user.png' %}" alt="Sem foto" class="img-rounded" width="146" height="146"></a>
          {% endif %}
        <h5>{{ aluno.nome}}</h5>
    </div>
    {% endfor %}
  </div>


  <div class="row">
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Nº</th>
          <th>Matrícula</th>
          <th>Nome</th>
          <th>Transferido</th>
          <th>Abandonou</th>
          <th>Faleceu</th>
       </tr>
       </thead>
       <tbody>
       {% for aluno in alunos %}
       <tr>
         <td>{{ forloop.counter }}</td>
         <td>{{ aluno.matricula }}</td>
         <td><a href="{% url 'aluno_perfil' aluno.matricula %}" method="post" name="perfil">{{ aluno.nome }}</a></td>
         {% if aluno.transferido %}
         <td><span class="glyphicon glyphicon-ok"></span></td>
         {% else %}
         <td></td>
         {% endif %}
         {% if aluno.abandonou %}
         <td><span class="glyphicon glyphicon-ok"></span></td>
         {% else %}
         <td></td>
         {% endif %}
         {% if aluno.faleceu %}
         <td><span class="glyphicon glyphicon-ok"></span></td>
         {% else %}
         <td></td>
         {% endif %}
       </tr>
      {% endfor %}
       </tbody>
     </table>
    </div>
 </div>
</div>


{% endblock content %}
