{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<div class="container">

  <br><br>
  <div class="row">
    {% for turma in turmas %}
    <div class="col-md-3 col-md-12">
      <div class="panel panel-default">

        <div class="panel-heading text-center">
          <button type="button" class="btn btn-link btn-lg" data-toggle="modal"
            data-target="#{{turma.turma}}"><h2>{{turma.turma}}</h2></button>
        </div>

        <!-- Modal -->
        <div id="{{turma.turma}}" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title"><center><strong>{{turma.turma}}</strong></center>
                  <center>{{turma.curso}}</center></h3>
              </div>
              <div class="modal-body">
                <div class="panel-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Matrícula</th>
                          <th>Nome</th>
                          <th>Média geral</th>
                          <th>Comportamento</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for aluno in alunos %}
                            <tr>
                              {% if aluno.turma == turma %}
                                {% if aluno.perfil_aluno.nota_ensino < 7.0 or aluno.perfil_aluno.nota_comportamento < 7.0%}
                                    <td style="background-color:#FEB6AB;">{{ aluno.matricula }}</td>
                                    <td style="background-color:#FEB6AB;"><a href="{% url 'aluno_perfil' aluno.pk %}" method="post"
                                        name="perfil">{{ aluno.nome }}</a></td>
                                    <td style="background-color:#FEB6AB;">{{aluno.perfil_aluno.nota_ensino}}</td>
                                    <td style="background-color:#FEB6AB;">{{aluno.perfil_aluno.nota_comportamento}}</td>
                                {% else %}
                                    <td>{{ aluno.matricula }}</td>
                                    <td><a href="{% url 'aluno_perfil' aluno.matricula %}" method="post"
                                        name="perfil">{{ aluno.nome }}</a></td>
                                    <td>{{aluno.perfil_aluno.nota_ensino}}</td>
                                    <td>{{aluno.perfil_aluno.nota_comportamento}}</td>
                                {% endif %}
                            </tr>
                            {% endif %}
                          {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
  <hr>


  <!--Top 10 -->

  <div class="jumbotron">
    <div class="well">
    <center><h1 class="top">Top 20</h1></center>
    </div>
    <div class="row">
      <!-- Nota -->
      <div class="col-md-6 col-md-12">
        <div class="text-center">
          <h3 class="top">Nota</h3>
        </div>
        <div class="panel panel-default">

          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Média geral</th>
                  </tr>
                </thead>
                <tbody>
                    {% for top in top_ensino %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ top.aluno.matricula }}</td>
                    <td><a href="{% url 'aluno_perfil' top.aluno.matricula %} " method="post"
                          name="perfil">{{ top.aluno.nome }}</a></td>
                      <td>{{top.nota_ensino}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

      <!-- Comportamento -->
      <div class="col-md-6 col-md-12">
        <div class="text-center">
          <h3 class="top">Comportamento</h3>
        </div>
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>Comportamento</th>
                  </tr>
                </thead>
                <tbody>
                    {% for top in top_comportamento %}
                      <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ top.aluno.matricula }}</td>
                        <td><a href="{% url 'aluno_perfil' top.aluno.matricula %}" method="post"
                            name="perfil">{{ top.aluno.nome }}</a></td>
                        <td>{{top.nota_comportamento}}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>

    </div><!--Fim do row -->
    <!-- Botao para mostrar lista completa -->


    <!-- fim da lista completa -->


  </div><!-- Fim do jumbotron -->
</div><!-- Fim  -->


{% endblock content %}
